ion-content{
    --padding-bottom: 70px;
}
.image-icon{
    font-size: 50px;
    opacity: 30%;
    width: 100px;
    height: 80px;
}

ion-avatar{
    width: 100px;
    height: 80px;
    --border-radius:5px;
    margin:0 auto;
}