ion-avatar{
    width: 160px;
    height: 160px;
    margin: 0 auto;
}

.photo-btn{
    position: relative;
    bottom: 25px;
}

h2{
    margin-top: 0%;
}

ion-item{
    --padding-top: 15px;
}

.empty-icon{
    font-size: 140px;
    opacity: 30%;
}